[run]
source = rest_framework_recaptcha
branch = true

[report]
exclude_lines =
    raise NotImplementedError
omit =
    tests/*
    *.tox*
    *conftest*
    *compat.py
    setup.py
show_missing = true
